[submodule "src/mudpad"]
	path = src/mudpad
	url = https://github.com/gesslar/mudpad.git
[submodule "src/autoload-clothing"]
	path = src/autoload-clothing
	url = https://github.com/gesslar/autoload-clothing.git
[submodule "src/bloodewel_calculator"]
	path = src/bloodewel_calculator
	url = https://github.com/gesslar/bloodjewel_calculator.git
